@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --container-8xl: 80vh;
  --breakpoint-xs: 36rem;
  --font-display: "Pieces of Eight", "Graduate", "Pirata One", "Raleway", sans-serif;
}

:root {
  --ui-container: var(--container-8xl);
  --ui-primary: #05037a;
  --ui-secondary: #705102;
  --ui-neutral: #011114;
  --ui-success: #079113;
  --ui-warning: #9d3f05;
  --ui-error: #ff0000;
}

body {
  background-color: #ecdac1;
  /*to do : disable night mode*/
}

