@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --breakpoint-xs: 36rem;
  --font-display: "Pieces of Eight", "Graduate", "Pirata One", "Raleway", sans-serif;
}

:root {
  --ui-container: 90rem;
  --ui-primary: #05037a;
  --ui-secondary: #5c026e;
  --ui-neutral: #011114;
  --ui-success: #079113;
  --ui-warning: #e69908;
  --ui-error: #ff0000;
  --page-bg: #ecdac1;
}

body {
  background-color: var(--page-bg);
}

